<div
  *ngIf="isOpen"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
>
  <div
    class="bg-white rounded-2xl shadow-lg p-6 w-11/12 sm:w-2/3 lg:w-1/2 relative"
  >
    <button
      (click)="onClose()"
      class="absolute top-2 right-2 text-gray-500 hover:text-gray-800 text-xl"
    >
      ✕
    </button>

    <h2 class="text-xl font-bold mb-4">
      {{ selectedBook ? "Update Book" : "Add New Book" }}
    </h2>

    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <label class="block text-sm font-medium">ID</label>
        <input
          formControlName="id"
          type="number"
          class="mt-1 w-full border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div>
        <label class="block text-sm font-medium">Title</label>
        <input
          formControlName="bookName"
          type="text"
          class="mt-1 w-full border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div>
        <label class="block text-sm font-medium">Author</label>
        <input
          formControlName="authorName"
          type="text"
          class="mt-1 w-full border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div>
        <label class="block text-sm font-medium">Price</label>
        <input
          formControlName="price"
          type="number"
          class="mt-1 w-full border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div>
        <label class="block text-sm font-medium">Image URL</label>
        <input
          formControlName="url"
          type="text"
          class="mt-1 w-full border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div>
        <label class="block text-sm font-medium">Description</label>
        <textarea
          formControlName="description"
          rows="3"
          class="mt-1 w-full border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        ></textarea>
      </div>

      <button
        type="submit"
        [disabled]="bookForm.invalid"
        class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition disabled:opacity-50"
      >
        {{ selectedBook ? "Update" : "Add Book" }}
      </button>
    </form>
  </div>
</div>
